:root {
    /* Colors */
    --theme-dark: var(--minmatar-dark);
    --theme-light: var(--minmatar-light);
    --theme-grey: var(--minmatar-grey);
    --theme-black: var(--minmatar-black);

    --caldari-dark: #3C5F73;
    --caldari-light: #8A8F9A;
    --caldari-grey: #191919;
    --caldari-black: #0F1114;

    --minmatar-dark: #5A3737;
    --minmatar-light: #8C5055;
    --minmatar-grey: #161414;
    --minmatar-black: #140D0F;

    --amarr-dark: #BBA183;
    --amarr-light: #9A6928;
    --amarr-grey: #191714;
    --amarr-black: #12110A;

    --gallente-dark: #576B66;
    --gallente-light: #9EAE95;
    --gallente-grey: #0F1414;
    --gallente-black: #0A0F0F;

    /* Haeden Color Suggestions */
    --bg-color: #191919;
    --text-color: #BA0505;
    --text-highlight: #062399;
    --link-color: #3C5F73;
    --link-highlight: #8C5055;
}

* {}

html {}

body {
    background: var(--theme-black);
    margin: 0 auto;
    margin-left: 20%;
    width: 80%;
    overflow: hidden;
}

.sidebar {
    /* Temp */
    border: 1px solid red;

    position: fixed;
    left: 0;
    margin: 0;
    width: 20%;
    height: 100%;
    text-align: center;
}

.nav-header {
    font-family: "Oswald", sans-serif;
}

.nav-link {
    text-decoration: none;
    color: var(--theme-dark);
}

.nav-link:hover {
    color: var(--theme-light);
    background: var(--theme-grey);
}

.nav-divider {}

.topbar {
    /* Temp */
    border: 1px solid blue;

    position: fixed;
    width: 100%;
    height: 3%;
    padding: 0;
    margin: 0 auto;
}

.color-button {
    width: 26px;
    height: 26px;
  	padding: 0;
  	border-radius: 50%;
  	background: rgb(0, 0, 0, 0);
}

.color-primary.caldari {
 	background: var(--caldari-dark);
  	display: block;
  	margin: 0 auto;
  	padding: 0;
  	width: 100%;
  	height: 50%;
  	border-radius: 50% 50% 0% 0%;
  	transform-origin: center bottom;
  	transform: rotate(-45deg);
}

.color-secondary.caldari {
 	background: var(--caldari-grey);
  	display: block;
  	margin: 0 auto;
  	padding: 0;
  	width: 100%;
  	height: 50%;
  	border-radius: 0% 0% 50% 50%;
  	transform-origin: center top;
 	transform: rotate(-45deg)
}

.color-primary.minmatar {
 	background: var(--minmatar-dark);
  	display: block;
  	margin: 0 auto;
  	padding: 0;
  	width: 100%;
  	height: 50%;
  	border-radius: 50% 50% 0% 0%;
  	transform-origin: center bottom;
  	transform: rotate(-45deg);
}

.color-secondary.minmatar {
 	background: var(--minmatar-grey);
  	display: block;
  	margin: 0 auto;
  	padding: 0;
  	width: 100%;
  	height: 50%;
  	border-radius: 0% 0% 50% 50%;
  	transform-origin: center top;
 	transform: rotate(-45deg)
}

.color-primary.amarr {
 	background: var(--amarr-dark);
  	display: block;
  	margin: 0 auto;
  	padding: 0;
  	width: 100%;
  	height: 50%;
  	border-radius: 50% 50% 0% 0%;
  	transform-origin: center bottom;
  	transform: rotate(-45deg);
}

.color-secondary.amarr {
 	background: var(--amarr-grey);
  	display: block;
  	margin: 0 auto;
  	padding: 0;
  	width: 100%;
  	height: 50%;
  	border-radius: 0% 0% 50% 50%;
  	transform-origin: center top;
 	transform: rotate(-45deg)
}

.color-primary.gallente {
 	background: var(--gallente-dark);
  	display: block;
  	margin: 0 auto;
  	padding: 0;
  	width: 100%;
  	height: 50%;
  	border-radius: 50% 50% 0% 0%;
  	transform-origin: center bottom;
  	transform: rotate(-45deg);
}

.color-secondary.gallente {
 	background: var(--gallente-grey);
  	display: block;
  	margin: 0 auto;
  	padding: 0;
  	width: 100%;
  	height: 50%;
  	border-radius: 0% 0% 50% 50%;
  	transform-origin: center top;
 	transform: rotate(-45deg)
}